In [1]:
import os 
%pwd

'd:\\End-to-End-Projects\\Marketing-Campaign-Project\\notebooks'

In [2]:
os.chdir("../")
%pwd

'd:\\End-to-End-Projects\\Marketing-Campaign-Project'

In [3]:
import pandas as pd 

df = pd.read_csv("artifacts/data_ingestion/campaign_responses.csv")

df.head()

,customer_id,age,gender,annual_income,credit_score,employed,marital_status,no_of_children,responded
0,1,35,Male,65000,720,Yes,Married,2,Yes
1,2,28,Female,45000,680,No,Single,0,No
2,3,42,Male,85000,750,Yes,Married,3,Yes
3,4,31,Female,55000,710,Yes,Single,1,No
4,5,47,Male,95000,790,Yes,Married,2,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     56 non-null     int64
 1   age             56 non-null     int64
 2   gender          56 non-null     object
 3   annual_income   56 non-null     int64
 4   credit_score    56 non-null     int64
 5   employed        56 non-null     object
 6   marital_status  56 non-null     object
 7   no_of_children  56 non-null     int64
 8   responded       56 non-null     object
dtypes: int64(5), object(4)
memory usage: 4.1+ KB

In [13]:
df['credit_score'].describe()

count     56.000000
mean     719.107143
std       60.340753
min      600.000000
25%      677.500000
50%      720.000000
75%      770.000000
max      820.000000
Name: credit_score, dtype: float64

In [14]:
df['employed'].value_counts()

employed
Yes    43
No     13
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     56 non-null     int64
 1   age             56 non-null     int64
 2   gender          56 non-null     object
 3   annual_income   56 non-null     int64
 4   credit_score    56 non-null     int64
 5   employed        56 non-null     object
 6   marital_status  56 non-null     object
 7   no_of_children  56 non-null     int64
 8   responded       56 non-null     object
dtypes: int64(5), object(4)
memory usage: 4.1+ KB

In [16]:
df['marital_status'].value_counts()

marital_status
Married    28
Single     28
Name: count, dtype: int64

In [17]:
df['no_of_children'].describe()

count    56.000000
mean      1.285714
std       1.186504
min       0.000000
25%       0.000000
50%       1.000000
75%       2.000000
max       3.000000
Name: no_of_children, dtype: float64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     56 non-null     int64
 1   age             56 non-null     int64
 2   gender          56 non-null     object
 3   annual_income   56 non-null     int64
 4   credit_score    56 non-null     int64
 5   employed        56 non-null     object
 6   marital_status  56 non-null     object
 7   no_of_children  56 non-null     int64
 8   responded       56 non-null     object
dtypes: int64(5), object(4)
memory usage: 4.1+ KB

In [19]:
df['responded'].value_counts()

responded
Yes    28
No     28
Name: count, dtype: int64